<ion-tabs class="tabs-positive">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  
  <ion-tab icon-off="ion-android-calendar" icon-on="ion-android-calendar" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>
  
  <ion-tab icon-off="ion-ios-pricetags" icon-on="ion-ios-pricetags" href="#/tab/offers">
    <ion-nav-view name="tab-offers"></ion-nav-view>
  </ion-tab>
  
  <ion-tab icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

 


</ion-tabs>